<html>
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#000000" />
    <link
      href="https://webchat.vica.gov.sg/static/css/chat.css"
      rel="stylesheet"
      referrerpolicy="origin"
    />
  </head>

  <div
    id="webchat"
    app-id="pa-ask-pa"
    app-name="Ask PA"
    app-icon="/images/avatar.png"
    app-color="#F50002"
    app-base-font-size="16"
    app-font-family="Roboto"
    app-bot-response-trigger-event="true"
    app-enable-auto-complete="true"
    app-enable-recommendations="true"
  ></div>

  <script
    type="text/javascript"
    src="https://webchat.vica.gov.sg/static/js/chat.js"
    referrerpolicy="origin"
  ></script>
</html>
